<!DOCTYPE html>
<html>

<head>

<title>College Finder AI</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>

<h2>🎓 College Finder AI</h2>

<div>

<a href="/">Home</a>
<a href="/login">Login</a>
<a href="/register">Register</a>

</div>

</nav>

<section class="hero">

<h1>Find Your Dream College</h1>

<p>
Get AI Powered College Recommendations
Based on Marks, Budget and Location
</p>

<a href="/register" class="btn">
Get Started
</a>

</section>

<section class="features">

<div class="card">
🤖 AI Recommendation
</div>

<div class="card">
📊 Admission Predictor
</div>

<div class="card">
🏫 College Comparison
</div>

<div class="card">
💰 Scholarship Finder
</div>
<a href="/recommend">
    AI Recommendation
</a>

</section>

</body>
</html>